/*colors*/
$white: #ffffff;
$black: #000000;

$clr-text-primary: #444050;
$clr-text-secondary: #5E5873;
$clr-tbl-text-secondary: #6D6B77;
$clr-text-dark-black: #1F1E23;
$clr-text-light-gray: #727273;
$clr-text-medium-gray: #44424D;
$clr-text-box-placeholder: #B9B9C3;
$clr-text-theme-body: #334155;
$clr-text-dark-gray: #9692A4;
$clr-text-light-purple: #6587F7;

$clr-border: #D8D6DE;
$clr-border-two: #EAEFFF;
$clr-light-border: #EBE9F1;
$clr-light-blue: #CFDAFE;

$clr-bg-primary: #3666EE;
$clr-bg-primary-hover: #517df5;
$clr-bg-light: #F4F5F8;
$clr-bg-green: #28C76F;
$clr-bg-sec: #F6F6F6;
$clr-bg-main: #F8F8F8;
$clr-bg-light-gray: #E8E8E8;
$clr-bg-light-blue: #E1E7F1;
$clr-bg-disabled-blue: #D0DCFF;
$clr-bg-card: #F9FBFF;
$clr-bg-circle: #B1B1B1;
$clr-bg-radio: #F6F8FF;
$clr-bg-checkbox: #F8FAFF;

$clr-primary-gradient: linear-gradient(239.27deg, #8BA6FF -27.06%, #3762EE 83.4%);
$clr-primary-gradient-hover: linear-gradient(239.27deg, #3762EE -27.06%, #8BA6FF 83.4%);

$sidebar-width: 260px;
$sidebar-collapsed-width: 80px;

// media queries
// $tablet: "max-width:1199px";
// $mobile: "max-width:575px";